<section id="home" class="text-center   ">
 
<div class="contain  text-white shadow-sm  rounded-3 p-4  w-100">
  <div>
<div class="">
        <p class="m-0 p-0 fs-4 text-center "> <br> <span class=" m-0 p-0 Samii">
           Ahmed Sami
        </span> </p>
        <p class="text-center m-0 p-0 mb-2 frontend"> F r o n t e n d  D e v e l o p e r </p>
        
      </div>
      
       <button class="bg-transparent text-white p-1 ps-4 pe-4 btn-savior rounded-5 me-1 fw-lighter mt-1 book-btn"
        (click)="OpenMyCv()">
        <span> Resume </span> 
       </button>
       <button class="bg-transparent text-white  p-1 ps-3 pe-3 btn-savior rounded-5 ms-1  fw-lighter mt-1"
        (click)="TOAbout()">
         <span> portfolio </span>
       </button>
  </div>
      
    </div>
  
    
    
     <div class=" MyAccounts p-2 d-flex gap-2 w-100 ">
      <a href="https://wa.me/201018097608">
        <i class="fa-brands fa-whatsapp fs-4 text-white brandIcon"></i>
      </a>
      <a href="https://www.linkedin.com/in/ahmed-sami-2440412aa?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">
        <i class="fa-brands fa-linkedin-in fs-4 text-white brandIcon"></i>
      </a>
      <a href="https://github.com/ahmed12v?tab=repositories">
        <i class="fa-brands fa-github fs-4 text-white brandIcon"></i>
      </a>
      <a href="https://www.facebook.com/ahmed.sami.410145/">
        <i class="fa-brands fa-facebook-square fs-4 text-white brandIcon"></i>
      </a>
      <a href="https://www.instagram.com/ahmedsami__74?igsh=MTEyY3JkbWgzamgxcw==">
        <i class="fa-brands fa-instagram fs-4 text-white brandIcon"></i>
      </a>
 
    </div>
   

</section>